/* CSS for styling personal website portfolio*/

#homepage {
  /*color: #000000;*/
  background-image: url("profile_bg.png");
  background-repeat: "no-repeat";
  Background-size: "cover";
  background-position: "right";
}

body {
  /*background-color: #eba832;*/
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
  /*color: #000000;*/
  font-family: 'Palanquin', sans-serif;
  /*display: grid;
  grid-template-columns: 33% 66%;*/

}

h1 {
  color: #EAA221 !important;
  font-family: 'Khula', sans-serif;


  /*font-weight: 700;*/
}



.col-9 {
  /*background-color: #c1b7b8;*/
  /*background-image: url("profile.jpg");*/
}



  /*#hero {
  background-image: img src="marigold_halftone.jpg";
  background-repeat: repeat;
  background-size: cover;
}*/

.img {
  margin-right: -15px;
margin-left: -15px;
padding-bottom: 62.5%;
background-position: 50% 50%;
background-repeat: repeat;
background-size: fill;
}

.col {
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #000000;
}


.mt-5 {
  margin-left: 3em !important;
}
