/* CSS for styling personal website portfolio*/

body {
  background-color: #eba832;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
  color: #000000;
  font-family: 'Palanquin', sans-serif;
}

h1 {
  color: #e9e4f0;
  font-family: 'Palanquin', sans-serif;
  font-weight: 700;
}

#hero {
  background-image: url("wisteria.jpg");
  background-repeat: repeat;
  background-size: cover;
}
